* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.container {
	margin: 0 auto;
	width: 800px;
	padding: 56px 0 0 0;
}

.logo {
	width: 110px;
	float: left;
}

a:hover,
a:link,
a:visited,
a:active {
	text-decoration: none;
}

.signup-links {
	float: right;
	font-size: .9em;	
}

.signup-links a {
	color: #000;
}

.signup-links li {
	display: inline-block;
	padding: 25px 9px 8px 0;

}

.form-body {
	clear: both;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	height: 810px;
}

.form-body form {
	width: 60%;
	padding: 50px 0 0 50px;
	float: left;
}

.form-head {
	font-size: 30px;
	line-height: 45px;
}

fieldset {
	border: none;
	margin: 28px 0 30px 0;
}

label {
	display: block;
	margin: 0 0 14px 0;
	font-size: 14px
}

.text {
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	box-shadow: none;
	height: 34px;
	width: 320px;
}

.phone-caption {
	display: block;
	font-size: 10px;
}

.remember-me {
	font-size: 13px;
}

.submit {
	background-color: #45CAE6;
	border: none;
	color: #FFF;
	font-size: 13px;
	padding: 10px 15px;
	border-radius: 3px;
}

.signup-caption {
	font-size: 11px;
	padding: 10px 0 0 0;
}

.signup-caption a {
	color: #45CAE6;
}

.line {
	float: right;
	border: 2px solid black;
}

.details {
	float: right;
	width: 28%;
	border-left: 3px solid #F5F5F5;
	margin: 50px 25px;
}

.details div {
	background-color: #F5F5F5;
	margin: 0 0 0 25px;
	padding: 23px 10px 0 27px;
	height: 540px;
}

.details span {
	font-size: 20px;
}

.details-list {
	font-size: 11px;
	padding: 10px 10px 0 12px;
}

.details-list li {
	margin: 0 0 17px 0;
}

footer {
	text-align: center;
	margin: 70px;
}

.footer-list li {
	display: inline-block;
	list-style: none;
	padding: 0 35px;
}

.footer-list a:visited,
.footer-list a:link {
	text-decoration: none;
	color: #a5a5a5;
	font-size: 13px;
}

.footer-list li:hover {
	text-decoration: underline;
}

.right-border {
	border-right: 1px solid #a5a5a5;
}

.fineprint {
	margin: 53px;
	font-size: 12px;
	color: #a5a5a5;
	letter-spacing: 1px;
}

.fineprint a {
	color: #45CAE6;
}

.security-links img {
	margin: 0 20px;
}

.norton {
	width: 85px;
}

.truste {
	width: 140px;
	padding: 0 0 7px 0;
}

.copyright {
	font-size: 10px;
	margin: 23px 0 0 0;
	color: #a5a5a5;
	letter-spacing: 0.5px;
}